
	| Firmware Reverse engineering:     |
	| --------------- | --------------- |
	| binwalk         | Content Cell    |
	| firmwalker      | Content Cell    |
	| FACT-core       | Content Cell    |
	| radare2         | Content Cell    |
	| capstone        | Content Cell    |
	| angr            | Content Cell    |
	| flawfinder      | Content Cell    |
	| firmware modkit | Content Cell    |


	  
Firmware emulating:
	    1.FAT tool
            2.Qemu 
	    3.qiling
	    4.Firmadyne
	
Bluetooth:
	    1.Gattacker
	    2.Bluez
	    3.bettercap
	    4.btlejuice
	    5.nrfconnect
	    6.sniffle
	
Hardware:
	    1.flashrom
	    2.openocd
